.card {
  display: flex;
  margin: 1.5em;
  width: 90vw;
  max-width: 40em;
  border-radius: 2em;
  overflow: hidden;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
  color: var(--tertiary-text-color);
  background: var(--secondary-text-color);
}

.imageFrame {
  position: relative;
  height: auto;
  flex-basis: 50%;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.imageFrame::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    105deg,
    transparent,
    var(--secondary-text-color) 90%
  );
  opacity: 60%;
}

.image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-image: url(/boxing.jpeg);
}

.card__article {
  flex-basis: 60%;
  padding: 0.2em 1.1em 0.2em 0;
}

.card__header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  padding-left: 1em;
}

.card__title h1 {
  margin: 0;
  padding: 0.5em 0 0.2em 0;
}

.card__title p {
  font-size: 0.8em;
  margin: 0;
  transform: translateX(-0.4em);
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.7em;
}

.card__footerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card__footerInfo_day {
  color: var(--primary-color);
  font-size: 2em;
  line-height: 1.8em;
}

.card__footerInfo_timeDist {
  color: var(--primary-color);
  font-size: 1.1em;
  font-weight: 500;
  line-height: 2em;
}
