.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-text-color);
  padding: 0.5em 0;
  position: relative;
}

.drop {
  position: absolute;
  top: 0;
  width: 8em;
  justify-content: center;
  transition: ease-in-out 400ms;
  color: var(--primary-bg-color);
}
