.hero {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--secondary-color);
  border-radius: 0 0 2em 2em;
  padding: 1em;
  gap: 1em;
}

.logo {
  width: 25%;
  max-width: 10em;
}

.hero__radioButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}

.hero__filter {
  transform: translateY(3.3em);
}
