.container {
  height: 100vh;
  background-image: url(/register.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.header,
.main {
  z-index: 3;
}

.header {
  color: var(--primary-color);
  padding: 1.5em 1em;
}

.header__logo {
  margin: 0 auto;
  padding-top: 1em;
  width: 8em;
}

.main {
  margin: 0 auto;
  margin-top: 2em;
  width: 70%;
  max-width: 30em;
  display: grid;
  height: 70%;
  text-align: center;
  color: var(--secondary-text-color);
}

.main__title {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.main__form {
  display: grid;
}

.main__form button {
  align-self: end;
}
