.groupDetails__schedule {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 5em;
}

.groupDetails__month,
.groupDetails__locationTitle,
.groupDetails__day,
.groupDetails__location {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

.groupDetails__day,
.groupDetails__locationTitle {
  font-weight: 500;
}

.groupDetails__month {
  font-size: 0.8rem;
  place-self: center;
}

.groupDetails__locationTitle,
.groupDetails__icon {
  color: var(--primary-color);
}

.groupDetails__day {
  font-size: 1.7em;
  color: var(--primary-color);
  place-self: center;
  padding-bottom: 0.3em;
}

.icon {
  color: var(--primary-color);
}
