.container {
  height: 100vh;
  background-image: url(/login.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.designElement {
  z-index: 2;
  max-height: 25em;
  transform: translateY(0.3em);
}

.main,
.header {
  z-index: 3;
}

.header {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  padding-top: 5em;
}

.logo {
  width: 3.5em;
}

.logo__text {
  font-size: 2rem;
  transform: translate3d(-1.25rem, -0.8rem, 0);
}

.logo__number {
  font-size: 4.2rem;
}

.main {
  align-self: end;
  padding-bottom: 4rem;
}

.form {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 1em;
  padding: 0 4em;
  position: relative;
}

.form__link {
  color: var(--tertiary-color);
  font-size: 1.125em;
}

.form__linkSpan {
  color: var(--secondary-text-color);
}

.form__error {
  position: absolute;
  padding: 0.8em;
  color: rgb(240, 240, 240);
  background: #e63947af;
  top: 20em;
  justify-self: center;
  border-radius: 0.5em;
  animation: rotate 0.5s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
