@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: 'Roboto', sans-serif;

  /* COLORS */
  --primary-color: #2a9d8f;
  --secondary-color: #264653;
  --tertiary-color: #e9c46a;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --tertiary-text-color: #636363;
  --input-text-color: #bcbcbc;
  --input-text-focus: #ffce48;
  --border-color: #49fce6;
  --primary-button-color: #228075;
  --secondary-button-color: #1d353f;

  /* SIZES */
  --font-size: 100%;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--secondary-text-color);
}

a {
  text-decoration: none;
}
