.button {
  font-family: var(--font-family);
  background: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 0.75em 0;
  border: none;
  border-radius: 2em;
  font-size: 1.125rem;
  width: 70%;
  margin: 0 auto;
}

.button--primary {
  background: var(--primary-color);
}

.button--secondary {
  background: var(--secondary-color);
}

.button--primary:focus {
  background: var(--primary-button-color);
  transform: scale(1.025);
  box-shadow: 0 0 0.7em 0 var(--primary-button-color);
}

.button--secondary:focus {
  background: var(--secondary-button-color);
  transform: scale(1.025);
  box-shadow: 0 0 0.7em 0 var(--secondary-button-color);
}
