.button {
  font-family: var(--font-family);
  background: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 0.75em 0;
  width: 50%;
  border: none;
  border-radius: 2em;
}

.button--primary {
  background: var(--primary-color);
}

.button--secondary {
  background: var(--secondary-color);
}
