.button {
  font-family: var(--font-family);
  background: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 0.75em 0;
  border: none;
  border-radius: 2em;
  font-size: 1.125rem;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}

.button--primary {
  background: var(--primary-color);
}

.button--secondary {
  background: var(--secondary-color);
}

.button--tertiary {
  padding: 0.5em 0;
  font-size: 1em;
}

.button--primary:active,
.button--tertiary:active {
  background: var(--primary-button-color);
  transform: scale(1.025);
  box-shadow: 0 0 0.7em 0 var(--primary-button-color);
}

.button--secondary:active {
  background: var(--secondary-button-color);
  transform: scale(1.025);
  box-shadow: 0 0 0.7em 0 var(--secondary-button-color);
}
