.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.cards {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  padding: 1em;
  justify-content: center;
}

.cards::-webkit-scrollbar {
  display: none;
}
